.ca-gmgn-link {
  color: #00ba7c;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  cursor: pointer;
}

.ca-gmgn-link:hover {
  color: #14d990;
}
